* {
    font-family: 'Source Sans Pro', sans-serif;
}

.hide {
    display: none;
}

.show {
    display: inline-block;
}
/* 
Navigation Bar */

.navbar {
    padding: 1% 10%;
    background-color: #000000 !important;
}

.navbar-brand {
    font-family: pacifico, sans-serif;
    font-size: 1.5rem;
}

.navbar-nav {
    width: 10%;
}
.nav-link {
    margin-right: 5% !important;
    font-size: 1.2rem;   
    margin-left: 20px;
}

.nav-links {
    margin-left: 100px;
}

.navbarnav .btn {
    margin-left: 10px;
}

/* Info Div  */

#info-div {
    padding: 5% 100px;
    background-color: #184d47;
    text-align: center;
}

#discussion-text {
    color: white;
    font-size: 1.2rem;
    display: inline;
    font-weight: 700;
}

#discussion-text span {
    color: black;
    margin-left: 1%;
}

.info-btns {
    display: inline;
    padding: 2%;
}

.info-btns .btn {
    margin-left: 2%;
    font-size: 0.8rem;
    height: 40px;
    padding: 10px 20px;
}

.info-btns .btn-dark {
    background-color: #1a1c20 !important;
}

.info-btns .btn2 {
    height: 38px;
    font-weight: bold;
}

/* Main Section */

#main {
    background-color: #f4f4f4;
}

#drop-downs {
    text-align: center;
    padding: 2%;
}

.dropdown {
    display: inline;
    text-align: center;

}

.dropdown .dropdown-toggle {
    color: #757575;
    font-weight: 700;
    font-size: 1.2rem;
    
}


/* Home page */
.articles {
    padding: 5% 100px;
}


.row {
    padding: 5%;
    justify-content: center;
}

.content {
    overflow: hidden;
}
.card {
    width: fit-content;
    height: 320px;
    overflow: hidden;
    margin: 2%;
    padding: 0;
    background-color: #131313;;
    color: white;
}

.card:hover {
    cursor: pointer;
    color: #83b6b3;
}

.card img {
    width: 100%;
    height: 200px;
}

.card-title {
    width: 15ch;
    overflow: hidden;
    white-space: nowrap;
    display: inline-flex;
    font-weight: 600;
}

.card-text {
    width: 20ch;
    overflow: hidden;
    white-space: nowrap;
    display: inline-flex;

}

/* Article show page  */
.article-container {
    justify-content: center;
    text-align: center;
    padding: 2px 16px;
}

.article-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-align: left;
    margin: 2% 2% 12%;
}

.article-card img {
    width: 100%;
}

.article-container h1 {
    font-weight: 800;
    font-size: 5rem;
}

.article-content {
    margin: 10%;
}
.article-card h2 {
    width: 15ch;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    font-weight: 600;
}

.article-icons {
    display: inline;
    width: 20%;
    float: right;
    margin-right: 1%;
    margin-top: 3%;
    text-align: right !important;

}

.article-icons i {
    margin-right: 20% !important;
}

.article-card i {
    margin: 2%;
}

.article-card img {
    width: 100%;
    height: auto;
}

.article-content {
    font-size: 2rem;
}

/* Review Form */
.review-form-div {
    width: 100%;
    padding: 5% 10%;
    
}

.review-form h1 {
    margin: 5% 0;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    padding-bottom: 5%;
}

.form-control {
    margin: 4% 0;
}

.form-group label {
    font-size: 2rem;
}

/* Review Section */
.reviews-div {
    display: block;
    width: 100%;
    padding: 10%;
}

.user-img {
    border-radius: 100%;
    width: 250px;
    margin-right: 3rem !important;
    height: auto;
}

.profile-btn {
    color: #184d47;
}

.profile-btn:hover {
    color: #857a7a;
}

.media-body h5{
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 4%;
}

.media-body {
    margin-top: 2%;
}

.media-body p {
    font-size: 1.7rem;
}

.media {
    margin-bottom: 10%;
}

.vote-btns {
    float: right;
    margin-top: 2%;
}

.vote-btns i {
    display: block;
}

.up-vote:hover {
    color: green;
}

.down-vote:hover {
    color: red;
}

.review-rating {
    font-size: 1rem;
}
.green {
    border: 10px solid green;
    box-shadow: 0 0 10px #000000;
    
}


.red {
    border: 10px solid red;
    box-shadow: 0 0 10px #000000;
}

.yellow {
    border: 10px solid yellow;
    box-shadow: 0 0 10px #000000;
}

/* Footer Section */

.footer-container {
    background-color:black;
    color: white;
    padding: 3% 10% 0%;
    display: grid;
    grid-template-columns: 0.25fr 0.35fr 0.4fr;
}
  
.logo-icons {
  margin-left:5%;
}
.logo-icons h2{
  margin-bottom: 8%;
}
 
  
.socialmedia-icons a{
    margin-right: 3%;
}
.info ul {
    display: inline-block;
    margin-right: 13%;
    list-style-type: none;
    line-height: 2.2rem;
}
  
.info ul li a {
    color: inherit;
}
  
.info ul li a:hover {
  color: #184d47;
  text-decoration: none;
  
}
  
.footer-btn {
    text-align: right;
}
.footer-btn h6 {
    padding: 6% 0;
    color: hsl(233, 8%, 62%);
}

.footer-btn .btn {
    font-weight: 700;
    font-size: 1rem;
}
  
/* login page  */

.wrapper a {
    color: #000000;
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
  }
  
  .wrapper h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 40px 8px 10px 8px; 
    color: #cccccc;
  }
  
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
  }
  
  .wrapper #formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
  }
  
  .wrapper #formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
  }
  
  .wrapper h2.inactive {
    color: #cccccc;
  }
  
  .wrapper  h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #000000;
  }
  
  
  input[type=button], input[type=submit], input[type=reset]  {
    background-color: #000000;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 black;
    box-shadow: 0 10px 30px 0 black;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
    background-color: black;
  }
  
  input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
  
  .login-input {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  
  input[type=text]:focus {
    background-color: #fff;
    border-bottom: 2px solid #000000;
  }
  
  input[type=text]:placeholder {
    color: #cccccc;
  }
  
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  
  .fadeIn {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
  }
  
  .fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  
  .fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  
  .fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;

  }
  
  .fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
  }
  
  .underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #000000;
    content: "";
    transition: width 0.2s;
  }
  
  .underlineHover:hover {
    color: #0d0d0d;
  }
  
  .underlineHover:hover:after{
    width: 100%;
  }
  
  *:focus {
      outline: none;
  } 

  /* Profile Page */
  .flip-card-front img {
	border-radius: 100%;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  border-radius: 100%;
} 

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 100%;

}

.flip-card:hover .flip-card-inner {

  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {

  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: rgb(206, 206, 206);
  color: black;
  border-radius: 100%;

}

.flip-card-back {
  background-color: rgb(206, 206, 206);
  color: black;
  font-weight: 700;
  transform: rotateY(180deg);
  border-radius: 100%;
  justify-content: center;

}

.profile-text {
    display: block;
    width: 100%;
    justify-content: center;
    margin: 5%;
    text-align: center;
    margin: auto;
    padding: 0 20%;
    
}

.flip-card-back p {
    margin-top: 40%;
    font-size: 1.5rem;
}

.flip-card-back span {
    display: block;
}

.profile-text h1 {
    font-weight: 700;
    margin: 4% 0;
}

.profile-text h2 {
    font-style: italic;
    margin: 10% 0 8%;
}
.flip-card {
    margin: 0 auto;
    justify-content: center;
}

.profile-post {
    font-size: 1.3rem;
    font-weight: 500;
    background-color: antiquewhite;
  }
  
  .profile-post:hover {
    background-color: cadetblue;
  }

  .alert-dark {
      background-color: 
  }