* {
    font-family: 'Source Sans Pro', sans-serif;
}

.hide {
    display: none;
}

.show {
    display: inline-block;
}
/* 
Navigation Bar */

.navbar {
    padding: 1% 10%;
    background-color: #000000 !important;
}

.navbar-brand {
    font-family: pacifico, sans-serif;
    font-size: 1.5rem;
}

.navbar-nav {
    width: 10%;
}
.nav-link {
    margin-right: 5% !important;
    font-size: 1.2rem;   
    margin-left: 20px;
}

.nav-links {
    margin-left: 100px;
}

.navbarnav .btn {
    margin-left: 10px;
}

/* Info Div  */

#info-div {
    padding: 5% 100px;
    background-color: #184d47;
    text-align: center;
}

#discussion-text {
    color: white;
    font-size: 1.2rem;
    display: inline;
    font-weight: 700;
}

#discussion-text span {
    color: black;
    margin-left: 1%;
}

.info-btns {
    display: inline;
    padding: 2%;
}

.info-btns .btn {
    margin-left: 2%;
    font-size: 0.8rem;
    height: 40px;
    padding: 10px 20px;
}

.info-btns .btn-dark {
    background-color: #1a1c20 !important;
}

.info-btns .btn2 {
    height: 38px;
    font-weight: bold;
}

/* Main Section */

#main {
    background-color: #f4f4f4;
}

#drop-drowns {
    text-align: center;
    padding: 2%;
}

.dropdown {
    display: inline;
    text-align: center;

}

.dropdown .dropdown-toggle {
    color: #757575;
    font-weight: 700;
    font-size: 1.2rem;
    
}


/* Home page */
.articles {
    padding: 5% 100px;
}


.row {
    padding: 5%;
    justify-content: center;
}

.content {
    overflow: hidden;
}
.card {
    width: fit-content;
    height: 320px;
    overflow: hidden;
    margin: 2%;
    padding: 0;
    background-color: #131313;;
    color: white;
}

.card:hover {
    cursor: pointer;
    color: #83b6b3;
}

.card img {
    width: 100%;
    height: 200px;
}

.card-title {
    width: 15ch;
    overflow: hidden;
    white-space: nowrap;
    display: inline-flex;
    font-weight: 600;
}

.card-text {
    width: 20ch;
    overflow: hidden;
    white-space: nowrap;
    display: inline-flex;

}

/* Article show page  */
.article-container {
    justify-content: center;
    text-align: center;
    padding: 2px 16px;
}

.article-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-align: left;
    margin: 2% 2% 12%;
}

.article-card img {
    width: 100%;
}

.article-container h1 {
    font-weight: 800;
    font-size: 5rem;
}

.article-content {
    margin: 10%;
}
.article-card h2 {
    width: 15ch;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    font-weight: 600;
}

.article-icons {
    display: inline;
    width: 20%;
    float: right;
    margin-right: 1%;
    margin-top: 3%;
    text-align: right !important;

}

.article-icons i {
    margin-right: 20% !important;
}

.article-card i {
    margin: 2%;
}

/* Review Section */
.reviews-div {
    display: block;
    width: 100%;
    padding: 10%;
}

.media-body h5{
    font-weight: bold;
}
.user-img {
    border-radius: 100%;
    width: 100px;
    height: auto;
}
.green {
    
    border: 10px solid green;
}

.red {

    border: 10px solid red;
}

.yellow {
    
    border: 10px solid yellow;
}
/* Footer Section */
.footer-container {
    background-color:black;
    color: white;
    padding: 3% 10% 0%;
    display: grid;
    grid-template-columns: 0.25fr 0.35fr 0.4fr;
}
  
.logo-icons {
  margin-left:5%;
}
.logo-icons h2{
  margin-bottom: 8%;
}
 
  
.socialmedia-icons a{
    margin-right: 3%;
}
.info ul {
    display: inline-block;
    margin-right: 13%;
    list-style-type: none;
    line-height: 2.2rem;
}
  
.info ul li a {
    color: inherit;
}
  
.info ul li a:hover {
  color: #184d47;
  text-decoration: none;
  
}
  
.footer-btn {
    text-align: right;
}
.footer-btn h6 {
    padding: 6% 0;
    color: hsl(233, 8%, 62%);
}

.footer-btn .btn {
    font-weight: 700;
    font-size: 1rem;
}
  

